@font-face {
  font-family: "SiYuan";
  src: url("./NotoSansSC-Regular.otf");
}

@font-face {
  font-family: "SiYuanM";
  src: url("./NotoSansSC-Medium.otf");
}

@font-face {
  font-family: "SiYuanB";
  src: url("./NotoSansSC-Bold.otf");
}

@font-face {
  font-family: "SiYuanH";
  src: url("./NotoSansSC-Black.otf");
}

@font-face {
  font-family: "SiYuanL";
  src: url("./NotoSansSC-Light.otf");
}

@font-face {
  font-family: "SiYuanT";
  src: url("./NotoSansSC-Thin.otf");
}
